{
  "presets": ["babel-preset-react-app", "es2015", "flowtype" ],
    "env": {
    "test": {
      "plugins": ["transform-flow-strip-types","transform-runtime", "flowtype"],
      "sourceMaps": "both"
    }
  }
}

